.home {
	text-align:center;
}
.logo {
	display:block;
	max-width:100%;
	margin:30px auto 0;
}
.home .x-html h1 {
	font-weight:bold;
	font-size:1.2em;
	margin:30px 0 0 0;
}
.home .x-html p {
	color:#666;
	line-height:120%;
	margin:10px 20px 20px;
}
.home .x-html img {
	margin-top: 30px;
}
.home .x-html h2 {
	color:#999;
	font-size:0.9em;
}
.about {
	text-align: center;
}
.about .x-html h1 {
	font-weight:bold;
	font-size:1.2em;
	margin:30px 0 0 0;
}
.about .x-html p {
	color:#666;
	line-height:120%;
	margin:10px 20px 20px;
}
.about .x-html img {
	margin-top: 30px;
}
.about .x-html h2 {
	color:#999;
	font-size:0.9em;
}
.blog p {
	color:#555;
	padding:10px 20px 0 20px;
	font-size:0.9em;
	line-height:120%;
}
.blog img {
	display: block;
	max-width:100%;
	max-height:100%;
	float:left;
	margin:10px 10px 10px 0;
}